* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans';
}

body {
  background-color: #0e141f;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin: 10%;
}

h1 {
  font-family: 'Cinzel Decorative';
  letter-spacing: 0.1em;
}

h6 {
  font-family: 'Poppins';
  font-size: 10px;
  font-weight: normal;
}

.display {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
}

.tile {
  border: 1px solid #fff;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Merienda';
  cursor: pointer;
}

.playerX {
  color: #15c2b9;
}

.playerO {
  color: #b50543;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

#reset {
  background-color: #15c2b9;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 15px 36px;
  font-size: 40px;
  cursor: pointer;
  color: #0e141f;
  transition: background-color 0.5s ease-in-out;
}

#reset:hover {
  background-color: #b50543;
  color: #0e141f;
}

.kaki {
  text-align: center;
  margin-top: 18%;
  margin-bottom: 0 auto;
  margin-bottom: 10%;
  font-size: 15px;
}

.chat {
  color: #fff;
  font-family: 'Cabin';
}

.aku {
  color: #15c2b9;
  font-family: 'Poppins';
  font-weight: 900;
  text-decoration: none;
}

.judul1 {
  color: #15c2b9;
  font-family: 'Londrina Shadow';
  font-size: 35px;
  letter-spacing: 0.1em;
}

.judul2 {
  color: #b50543;
  font-family: 'Vast Shadow';
  font-size: 40px;
}